<%= turbo_frame_tag "turbo_bt_feedback" %>

<button class="fixed bg-white text-blue-500 border border-blue-500 rounded-lg top-1/2 right-0 px-5 py-4 text-sm hover:right-1" style="transform-origin: center right; transform: rotate(-90deg) translateX(50%) translateY(-25%);"><%= t('feedback.button') %></button>
