<%= turbo_frame_tag "turbo_bt_feedback" do %>
  <div class="relative z-10" data-controller="turbo-modal" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0" data-action="click->turbo-modal#hideModal:self">
        <div class="relative transform overflow-hidden rounded-lg bg-slate-100 dark:bg-slate-800 dark:border-slate-500 px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-xl sm:p-6">
          <%= render 'account/shared/page' do |page| %>
            <% page.title t('.section') %>
            <% page.body.render 'account/shared/box', divider: true do |box| %>
              <% box.t :description, title: '.header' %>
              <% box.body.render 'form', feedback: @feedback %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
